<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-innner">
		<div class="container">
		<div id="logo"><a href="/">wifind</a></div>
		<ul class="nav">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Find-WIFI", findwifi_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Add Spot", '#' %></li>
		</ul>
		<ul class="nav pull-right">
			<% if user_signed_in? %>
			<li><%= link_to "Sign out", signout_path, method: 'delete' %></li>
			<% else %>
				<li class="pull-right"><%= link_to "Login", signin_path %></li>
				<li class="pull-right"><%= link_to "Sign up", signup_path %></li>		
			<% end %>
		</ul>
	</div>
	</div>
</div>
